* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;
}

:root{
    --x : 400px;
    --y : 400px;
}

main{
    height: 100%;
    width: 100%;
    position: relative;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  background: radial-gradient(
      circle 100px at var(--x) var(--y),rgba(0, 0, 0, 0), rgb(0, 0, 0)
  );;

}
