* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;
background-color: black;
color: white;
}

:root{
    --x : 400px;
    --y : 400px;
}

main{
    height: 100%;
    width: 100%;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box{
    height: 100%;
    width: 100%;
    background: radial-gradient(150px at var(--x) var(--y), rgba(0, 0, 0, 0), black);
    position: absolute;
    inset: 0;
}

